<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/libs/jquery-ui/themes/smoothness/jquery-ui.min.css">
</head>
<body>

<div id="main" class="container">
    <div class="row">
        <div class="span12">
            <!-- <ul class="nav nav-pills pull-right">
                <li><a href="/docs" target="_blank">View API Documentation</a></li>
            </ul> -->
            <ul class="nav nav-pills pull-center">
                <li><a href="/ppb/configure">Widget</a></li>
                <li class="active"><a href="/ppb/configure/about">Quick Start</a></li>
            </ul>
        </div>
    </div><!--./row -->
    <div class="row">

        <h2>Edmunds At A Glance Widget Quick Start</h2>
        <hr class="bs-docs-separator">
        <ul>
            <li><a href="#Get_Widget_Code">Get Widget Code</a></li>
            <li><a href="#How_to_Embed_Widget">How to Embed Widget</a></li>
            <li><a href="#Widget_Custom_Events">Widget Custom Events</a></li>
            <li><a href="#Events_List">Events List</a></li>
        </ul>

        <hr class="bs-docs-separator">

        <h3><a name="Get_Widget_Code"></a>Get Widget Code</h3>
        <p>To get started, just use the configurator to get code to add to your site.</p>
        <h4>Settings:</h4>
        <ul>
            <li><p><code>API Key</code> - the Key for Edmunds API registered on <a href="http://developer.edmunds.com" target="_blank">Edmunds Developer Portal</a>.</p></li>
            <li><p><code>Default Zip Code</code> - the zip code to display by default in ZIP field.</p></li>
            <li><p><code>List of Makes</code> - List of makes</p></li>
            <li><p><code>List of Models</code> - List of models</p></li>
            <li><p><code>List of Years</code> - List of years</p></li>
            <li><p><code>Included Tabs</code> - the set of Tabs to display in the Widget.</p></li>
            <li><p><code>Width</code> - sets the width of the Widget.</p></li>
            <li><p><code>Get Code</code> - instructions to embed Edmunds At A Glance Widget on your page.</p></li>
        </ul>

        <hr class="bs-docs-separator">

        <h3><a name="How_to_Embed_Widget"></a>How to Embed Widget</h3>
        <p>To embed Edmunds At A Glance Widget on your page just follow the instructions from <code>Get Code</code> popup.</p>
        <h4>Example scenario:</h4>
        <ol>
            <li>
                <p>Insert the empty div to your page:</p>
                <pre>&lt;div id="atglancewidget"&gt;&lt;/div&gt;</pre>
            </li>
            <li>
                <p>Add the following JavaScript snippet to your page:</p>
                <pre>
&lt;script type="text/javascript" src="http://widgets.edmunds.com/loader-ppb.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;
(function(){
var widget = EDM.createWidget({
    "type": "glance",
    "renderTo": "atglancewidget",
    "style": {
        "width": "250",
        "height": "630"
    },
    "scripts": [
        "/libs/requirejs/require.js\" data-main=\"http://widgets.edmunds.com/glance/js/main.js"
    ],
    "options": {
        "apiKey": "axr2rtmnj63qsth3ume3tv5f",
        "make": "acura",
        "model": "ilx",
        "year": "2013",
        "submodel": "sedan",
        "zipCode": "12345",
        "tabsList": [
            "rating-tab",
            "edmunds-says-tab",
            "consumer-reviews-tab",
            "tco-tab",
            "photos-tab"
        ]
    }
});
}());
&lt;/script&gt;
                </pre>
            </li>
        </ol>

        <hr class="bs-docs-separator">

        <h3><a name="Widget_Custom_Events"></a>Widget Custom Events</h3>
        <p>Edmunds At A Glance Widget provides the next method for subscription to the widget events:</p>
        <br>
        <p><code>on()</code> - Binds a callback function to the widget object. The callback will be invoked whenever the event is fired.</p>
        <pre>
(function(){

    // create instance of the widget
    var widget = EDM.createWidget(/* configured options here */);

    // subscribe to the event
    widget.on('vehicle.style.select', function(styleId, styleName) {
        console.log(styleName + ' was selected.');
    });

}());</pre>
        <p><code>event_name</code> - this is one event of the widget. All list of <a href="#Events_List">events</a> is below.</p>

        <div class="alert alert-info">
            <p>This method is very useful if you would use Google Analytics or another tracking system for the widget. For example:</p>
            <pre>
// subscribe to the event
widget.on('vehicle.style.select', function(styleId, styleName) {
    _gaq.push(['_trackEvent', 'Edmunds At Glance Widget', 'Select a Style', styleName]);
});
            </pre>
            <p>Where <code>_gaq</code> is an instance of Google Analytics in your page.</p>
        </div>

        <hr class="bs-docs-separator">
        <h3><a name="Events_List"></a>Events List</h3>

        <table class="table table-condensed table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th width="30%">Event</th>
                    <th>Callback Params</th>
                    <th width="50%">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>vehicle.style.select</td>
                    <td><span class="label">styleId</span>&nbsp;<span class="label">styleName</span></td>
                    <td>This event is fired when vehicle style is selected.</td>
                </tr>
                <tr>
                    <td>zip.update</td>
                    <td><span class="label">zipCode</span></td>
                    <td>This event is fired when zip code is updated.</td>
                </tr>
                <tr>
                    <td>tab.click</td>
                    <td><span class="label">tabName</span></td>
                    <td>This event is fired when navigation tab is clicked.</td>
                </tr>
                <tr>
                    <td>photos.type.click</td>
                    <td><span class="label">photosType</span></td>
                    <td>This event is fired when photos type is changed.</td>
                </tr>
                <tr>
                    <td>next.review.click</td>
                    <td>Has no params</td>
                    <td>This event is fired when next navigation button on the Consumer Reviews tab is clicked.</td>
                </tr>
                <tr>
                    <td>prev.review.click</td>
                    <td>Has no params</td>
                    <td>This event is fired when previous navigation button on the Consumer Reviews tab is clicked.</td>
                </tr>
                <tr>
                    <td>list.review.click</td>
                    <td>Has no params</td>
                    <td>This event is fired when full list of reviews button on the Consumer Reviews tab is clicked.</td>
                </tr>
            </tbody>
        </table>

    </div><!--./row -->
</div><!--./container -->

<script src="/libs/jquery/dist/jquery.js"></script>
<script src="/libs/jquery-ui/ui/jquery-ui.js"></script>
<script src="/js/plugins/bootstrap-button.js"></script>
<script src="/js/plugins/bootstrap-tooltip.js"></script>
<script src="/js/plugins/bootstrap-modal.js"></script>
<script src="/js/plugins/bootstrap-tab.js"></script>
<script>
    $('.tabbable a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
</script>

</body>
</html>
