<div class="modal fade" id="widget-instructions">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title">Instructions</h3>
            </div>
            <div class="modal-body">
                <p>You need an empty div on your page to house the widget:</p>
                <pre>&lt;div id="atglancewidget"&gt;&lt;/div&gt;</pre>

                <p>Add the following JavaScript snippet to your page. It's preferably to add at the bottom of your page for best page performance:</p>
                <pre id="insert-js"></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->