<form id="widget-configurator" class="well well-small well-configurator">
	<fieldset>
		<legend>GET WIDGET CODE</legend>
		<% include section/api-key.ejs %>
		<% include section/zip-code.ejs %>
		<% include section/makes-select.ejs %>
		<% include section/models-select.ejs %>
		<% include section/years-select.ejs %>
		<% include section/glance-tabs-to-display.ejs %>
	</fieldset>
	<fieldset>
		<% include section/width.ejs %>
	</fieldset>
	<% include section/actions.ejs %>
</form><!--./widget-configurator -->