<form id="widget-configurator" class="well well-small well-configurator">
    <fieldset>
        <legend>Price Promise Button</legend>
        <% include section/api-key.ejs %>
        <% include section/zip-ppb.ejs %>
        <% include section/vin-code.ejs %>
        <% include section/color-scheme-with-button.ejs %>
    </fieldset>
    <fieldset>
        <% include section/width.ejs %>
    </fieldset>
    <% include section/actions.ejs %>
</form><!--./widget-configurator -->