<div class="form-actions">
	<button type="submit" class="btn btn-primary" id="widget-get"><i class="icon-white icon-download"></i>&nbsp;Get Code</button>
	<button type="reset" class="btn btn-link">Reset</button>
</div>