<div class="form-group">
	<label>Color Scheme</label>
	<div id="option_colorscheme">
		<div class="btn-group btn-group-xs btn-group-justified" data-toggle="buttons">
			<label class="btn btn-default active">
				<input type="radio" name="colorScheme" value="light" checked="checked"> Light
			</label>
			<label class="btn btn-default">
				<input type="radio" name="colorScheme" value="dark"> Dark
			</label>
		</div>
	</div>
</div>
