<div class="form-group hidden">
	<label>Edmunds copy</label>
	<select class="form-control input-sm" name="copy" disabled="disabled">
		<option value="logo_text">Logo and text</option>
		<option value="logo">Edmunds logo</option>
		<option value="text">Text message</option>
	</select>
</div>
