<div class="form-group">
	<label>
		Dealer API key (<a href="http://edmunds.mashery.com/member/my-account" target="_blank">get yours</a>)
		<sup class="label label-danger">required</sup>
	</label>
	<div class="input-group-control" id="dealer-api-key-control">
		<div class="input-group input-group-sm" data-section="apply">
			<input type="text" class="form-control" id="vehicle-api-key-input">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Apply</button>
			</span>
		</div>
		<div class="input-group input-group-sm hidden" data-section="change">
			<span class="form-control form-control-text"></span>
			<span class="input-group-btn">
				<button class="btn btn-link" type="button">Change</button>
			</span>
		</div>
	</div>
</div>
