<div class="form-group" style="margin-top: 15px; margin-bottom: 15px;">
	<div class="row">
		<div class="col-xs-6 tooltip-container">
			<label>Included Tabs</label>
		</div>
		<div class="col-xs-6">
			<label class="checkbox pull-right">
				<input type="checkbox" id="toggleAllTabs" checked="checked">
				Toggle all
			</label>
		</div>
	</div>
	<div class="list-group list-group-tabs">
        <label class="list-group-item checkbox"><input type="checkbox" checked="checked" value="rating-tab">Rating</label>
        <label class="list-group-item checkbox"><input type="checkbox" checked="checked" value="edmunds-says-tab">Edmunds says</label>
        <label class="list-group-item checkbox"><input type="checkbox" checked="checked" value="consumer-reviews-tab">Consumer Reviews</label>
        <label class="list-group-item checkbox"><input type="checkbox" checked="checked" value="tco-tab">TCO <sup>&#174;</sup></label>
        <label class="list-group-item checkbox"><input type="checkbox" checked="checked" value="photos-tab">Photos </label>
	</div>
	<input type="hidden" name="includedTabs" value="">
</div>
