<div class="form-group">
	<div class="row">
		<div class="col-xs-6">
			<label>Included Makes</label>
		</div>
		<div class="col-xs-6">
			<label class="checkbox pull-right">
				<input type="checkbox" id="toggleAllMakes" disabled="disabled">
				Toggle all
			</label>
		</div>
	</div>
	<div class="list-group list-group-makes">
		<!-- item template
		<label class="list-group-item checkbox">
			<input type="checkbox" value="make_nice_name">
			make_name
		</label>
		-->
	</div>
	<input type="hidden" name="includedMakes" value="">
</div>
