<div class="form-group">
	<label>Show vehicles</label>
	<div id="option_publication_state">
		<div class="btn-group btn-group-xs btn-group-justified" data-toggle="buttons">
			<label class="btn btn-default active">
				<input type="radio" name="publicationState" value="all" checked="checked"> All
			</label>
			<label class="btn btn-default">
				<input type="radio" name="publicationState" value="new"> NEW
			</label>
			<label class="btn btn-default">
				<input type="radio" name="publicationState" value="used"> USED
			</label>
		</div>
	</div>
</div>
