<div class="form-group">
	<label>Tabs to display</label>
	<select class="form-control input-sm" name="tabsToDisplay">
		<option value="1">All tabs</option>
		<option value="2">Tab1 + Tab2</option>
		<option value="3">Tab1 + Tab3</option>
	</select>
</div>

<div class="form-group">
    <label>Tab 1 name</label>
    <div class="input-group input-group-sm" id="tab1_name">
        <input type="text" class="form-control" name="tab1Name" value="Configure">
		<span class="input-group-btn">
			<button class="btn btn-default" data-action="applyTabName" type="button">Apply</button>
		</span>
    </div>
</div>

<div class="form-group">
    <label>Tab 2 name</label>
    <div class="input-group input-group-sm" id="tab2_name">
        <input type="text" class="form-control" name="tab2Name" value="TMV&reg;">
		<span class="input-group-btn">
			<button class="btn btn-default" data-action="applyTabName" type="button">Apply</button>
		</span>
    </div>
</div>

<div class="form-group">
    <label>Tab 3 name</label>
    <div class="input-group input-group-sm" id="tab3_name">
        <input type="text" class="form-control" name="tab3Name" value="Price Quotes">
		<span class="input-group-btn">
			<button class="btn btn-default" data-action="applyTabName" type="button">Apply</button>
		</span>
    </div>
</div>
