<div class="form-group">
	<label>Theme</label>
	<div id="option_theme">
		<div class="btn-group btn-group-xs btn-group-justified" data-toggle="buttons">
			<label class="btn btn-default active">
				<input type="radio" name="theme" value="simple" checked="checked"> Theme 1
			</label>
			<label class="btn btn-default">
				<input type="radio" name="theme" value="green"> Theme 2
			</label>
			<label class="btn btn-default">
				<input type="radio" name="theme" value="red"> Theme 3
			</label>
		</div>
	</div>
</div>
