<div class="control-group" style="margin-top: 15px; margin-bottom: 15px;">
	<label>Width</label>
	<div id="width_slider"></div>
	<input type="hidden" name="width" value="">
	<input type="hidden" name="height" value="">
</div>
