<div class="control-group">
	<label>
		Default Zip Code
		<sup class="label label-important label-required">required</sup>
	</label>
	<div class="input-group-control" id="zip-code-control">
		<div class="input-group input-group-sm" data-section="apply">
			<input type="text" class="form-control" value="" maxlength="5" id="zip-code-input">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" id="zip-code-apply">Apply</button>
			</span>
		</div>
		<div class="input-group input-group-sm hidden" data-section="change">
			<span class="form-control form-control-text"></span>
			<span class="input-group-btn">
				<button class="btn btn-link" type="button">Change</button>
			</span>
		</div>
	</div>
</div>
